apiVersion: v1
kind: Secret
metadata:
  name: argocd-secrets
  namespace: argocd
type: Opaque
data:
  argocd-username: ${ARGOCD_USERNAME}
  argocd-password: ${ARGOCD_PASSWORD}
  dockerconfigjson: ${GHCR_AUTH}
